/*****************************TAG ELEMENTS****************************/
body{
  background-color: #F5F5DC;
  text-align: center;
  font-family: 'Joan', serif;
  /**font-family: 'Alegreya', serif;**/
}

h1{
  margin:0 auto 0 auto;
  font-family: 'Cinzel Decorative', cursive;
  /*font-family: 'Cinzel', serif;*/
  /*font-family: 'Redressed', cursive;*/
  /*font-family: 'Sacramento', cursive;*/
  font-size: 4.5rem;
  color:#354259;
}

h2{
  font-size: 2.5rem;
  color: #354259;
}

h3{
  color:#354259;
}


/*****************************PAGINA LOGIN**************************/

.form{
  width: 400px;
  margin: auto;
  padding-top: 40px;
}

.card{
  box-shadow: 1px 1px 5px #354259;
  background-color: #CDC2AE;
  padding: 30px;
  border-radius: 5px;
}

.card-top{
  text-align: center;
}

.card-group{
  margin-bottom: 10px;
}

.card-group > label{
  width: 100%;
  color: #354259;
  text-align: left;
}

.card-group > input{
  border-radius: 5px;
  outline: 0;
  width: 100%;
  height: 25px;
  padding: 5px;
}

.card-group > button{
  background-image: linear-gradient(to right, #354259, black);
  width: 100%;
  border-radius: 30px;
  padding: 15px;
  color: #6B8E23;
  border: 0px;
  outline: 0;
}

.btn button:hover{
  background-image: linear-gradient(to right, black, #354259);
}

.imglogin{
  border-radius: 50px;
  width: 100px;
}

.album {
      display: flex;
      flex-wrap: wrap;
    }

    .album img {

      height: 300px;
      object-fit: cover;
      margin: 10px;
      border: 2px solid #354259;
    }

/*****************************CLASS ELEMENTS************************/
#fofo{
  color: #354259;
}

#menu{
  background-color: #556B2F;
}

#foto-moldura{
  border: 2mm ridge #354259;
  box-shadow: 1px 1px 5px #354259;
}

#fotos{
  border: 0.3mm solid #354259;
  box-shadow: 1px 1px 4px #354259;
}

#foto-destinos{
  border: 2mm ridge #354259;
}

#cartas{
  border: 0.3mm solid #354259;
  box-shadow: 1px 1px 4px #354259;
}

#padding-divisao{
  padding: 2.5% 0 0 0;
}

#text-hard{
  padding: 2.5% 0 0 0;
}

.description{
  margin-left: 5%;
  margin-right: 5%;
}

.cartas{
  text-align: justify;
  text-indent: 25px;
}

.frases{
  padding-left: 20px;
}

.fundo-index{
  background-color: #C2DED1;
}

.abertura{
  text-align: center;
  text-indent: 30px;
}

.coracao{
  color: red;
}

.letras-menu{
  color: #DEB887;
}

.texto-padrao{
  text-align: justify;
  text-indent: 30px;
  padding: 0 5% 0 5%;
}

.corpo-da-pagina{
  background-color: #F5F5DC;
}

.destinos-futuros{
  background-color: #CDC2AE;
  margin: 0 0 0 0;
  padding-left: 50px;
  padding-right: 50px;
}

/****** timeline *******/
.linha-tempo{
  background-color: #CDC2AE;
  align-items: center;
}

.img-timeline{
  width: 150px;
  position: relative;
  border: 0.3mm solid #354259;
  box-shadow: 1px 1px 4px #354259;
}

.main-container{
    position: relative;
    width: 500px;
}
/*creating line for timeline*/
.main-container::after{
    content: '';
    position: absolute;
    width: 10px;
    background-color: #C2DED1;
    top:0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
/*Adjusting box of all content*/
.text-wrapper{
    padding: 10px 40px;
    position: relative;
    width:51%;
    box-sizing: border-box;
    margin: 50px 0;
}
.text-wrapper::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 25px;
    right: -10px;
    background-color:#354259;
    top:15px;
    border-radius: 50%;
    z-index: 1;
}
/*for left events*/
.left{
    left: 0;
}
/*for right events*/
.right{
    left:50%;
}
.right::after{
    left:-10px;
}
/*content box colour padding and radius for circular corner*/
.content{
    padding: 15px 15px 15px 17px;
    background-color: #C2DED1;
    border-radius: 4px;
}
/*setting text property of event heading*/
.content h3{
    text-transform: uppercase;
    font-size: 14px;
    color: #354259;
    letter-spacing:1px;
}
/*setting text property of event content*/
.content p{
    color: #354259;
    font-weight: 300;
    font-size: 18px;
    margin-top: 2px;
}

.cabecalho{
  background-color: #DEB887;
}

.rodape{
  font-size: 11px;
  margin-top: 2px;
  margin-bottom: 20px;
}

.fundo-rodape{
  color: #DEB887;
}

.historia{
  text-align: justify;
  margin-left: 50px;
  margin-right: 50px;
}
